// {{{ Utils
.make-col(@span, @columns) {
  @col-width: percentage(@span / @columns);
  flex: 0 0 @col-width;
  max-width: @col-width;
}

.generate-columns(@columns, @span: 1) when (@span =< @columns) {
  &-@{span} {
    .make-col(@span, @columns);
  }
  .generate-columns(@columns, (@span + 1));
}
// Utils }}}

// {{{ Display
.n--flex {
  display: flex;

  &-inline {
    display: inline-flex;
  }
}
// Display }}}

// {{{ Direction
.n--flex {
  &-row {
    flex-direction: row;
  }
  &-row-reverse {
    flex-direction: row-reverse;
  }
  &-column {
    flex-direction: column;
  }
  &-column-reverse {
    flex-direction: column-reverse;
  }
}
// Direction }}}

// {{{ Wrap
.n--flex {
  &-nowrap {
    flex-wrap: nowrap;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
// Wrap }}}

// {{{ alignContent
.n--flex-alignContent {
  &-normal {
    align-content: normal;
  }
  &-start {
    align-content: flex-start;
  }
  &-end {
    align-content: flex-end;
  }
  &-center {
    align-content: center;
  }
  &-space-between {
    align-content: space-between;
  }
  &-space-around {
    align-content: space-around;
  }
  &-stretch {
    align-content: stretch;
  }
}
// alignContent }}}

// {{{ alignItems
.n--flex-alignItems {
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
  &-baseline {
    align-items: baseline;
  }
  &-stretch {
    align-items: stretch;
  }
}
// alignItems }}}

// {{{ alignSelf
.n--flex-alignSelf {
  &-auto {
    align-self: auto;
  }
  &-start {
    align-self: flex-start;
  }
  &-end {
    align-self: flex-end;
  }
  &-center {
    align-self: center;
  }
  &-baseline {
    align-self: baseline;
  }
  &-stretch {
    align-self: stretch;
  }
}
// alignSelf }}}

// {{{ justifyContent
.n--flex-justifyContent {
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-space-between {
    justify-content: space-between;
  }
  &-space-around {
    justify-content: space-around;
  }
  &-space-evenly {
    justify-content: space-evenly;
  }
}
// justifyContent }}}

// {{{ span
.n--flex-span {
  &-greedy {
    flex: 1;
  }
  &-auto {
    flex: 0 0 auto;
  }
  &-grow {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
  }
  &-shrink {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: auto;
  }
  .generate-columns(@layoutGrid-columns);
}
// span }}}

// {{{ spacedChildren
.n--spacedChildren {
  .childrenSpacing(@property) {
    &-xxs > :not(:last-child) { @{property}: @layoutUnit-xxs; }
    &-xs > :not(:last-child) { @{property}: @layoutUnit-xs; }
    &-sm > :not(:last-child) { @{property}: @layoutUnit-sm; }
    &-md > :not(:last-child) { @{property}: @layoutUnit-md; }
    &-lg > :not(:last-child) { @{property}: @layoutUnit-lg; }
    &-xl > :not(:last-child) { @{property}: @layoutUnit-xl; }
  }
  .layoutFillSpacing(@property) {
    &-xxs > [data-ui-role="layout-fill"] { @{property}: 0; }
    &-xs > [data-ui-role="layout-fill"] { @{property}: 0; }
    &-sm > [data-ui-role="layout-fill"] { @{property}: 0; }
    &-md > [data-ui-role="layout-fill"] { @{property}: 0; }
    &-lg > [data-ui-role="layout-fill"] { @{property}: 0; }
    &-xl > [data-ui-role="layout-fill"] { @{property}: 0; }
  }

  .n--nonFlexLayout-vertical&,
  .n--flex-column& {
    .childrenSpacing(margin-bottom);
    .layoutFillSpacing(margin-bottom);
  }

  .n--flex-column-reverse& {
    .childrenSpacing(margin-top);
    .layoutFillSpacing(margin-top);
  }

  .n--nonFlexLayout-horizontal&,
  .n--flex-row& {
    .childrenSpacing(margin-right);
    .layoutFillSpacing(margin-right);
  }

  .n--flex-row-reverse& {
    .childrenSpacing(margin-left);
    .layoutFillSpacing(margin-left);
  }
}
// spacedChildren }}}

// {{{ selfSpacing
.n--selfSpacing {
  .selfSpacing(@property) {
    &-none:not(:last-child) { @{property}: 0; }
    &-xxs:not(:last-child) { @{property}: @layoutUnit-xxs; }
    &-xs:not(:last-child) { @{property}: @layoutUnit-xs; }
    &-sm:not(:last-child) { @{property}: @layoutUnit-sm; }
    &-md:not(:last-child) { @{property}: @layoutUnit-md; }
    &-lg:not(:last-child) { @{property}: @layoutUnit-lg; }
    &-xl:not(:last-child) { @{property}: @layoutUnit-xl; }
  }

  .n--flex-column > & {
    .selfSpacing(margin-bottom);
  }

  .n--flex-column-reverse > & {
    .selfSpacing(margin-top);
  }

  .n--flex-row > & {
    .selfSpacing(margin-right);
  }

  .n--flex-row-reverse > & {
    .selfSpacing(margin-left);
  }
}
// selfSpacing }}}

// {{{ withPadding
.n--withPadding {
  .withPadding(@property) {
    &-none { @{property}: 0; }
    &-xxs { @{property}: @layoutUnit-xxs; }
    &-xs { @{property}: @layoutUnit-xs; }
    &-sm { @{property}: @layoutUnit-sm; }
    &-md { @{property}: @layoutUnit-md; }
    &-lg { @{property}: @layoutUnit-lg; }
    &-xl { @{property}: @layoutUnit-xl; }
  }

  .withPadding(padding);

  &-vertical {
    .withPadding(padding-top);
    .withPadding(padding-bottom);
  }

  &-horizontal {
    .withPadding(padding-left);
    .withPadding(padding-right);
  }

  &-top {
    .withPadding(padding-top);
  }

  &-right {
    .withPadding(padding-right);
  }

  &-bottom {
    .withPadding(padding-bottom);
  }

  &-left {
    .withPadding(padding-left);
  }
}
// withPadding }}}

// {{{ Overflow
.n--overflow {
  .withOverflow(@property) {
    &-auto { @{property}: auto; }
    &-hidden { @{property}: hidden; }
    &-scroll { @{property}: scroll; }
    &-visible { @{property}: visible; }
  }

  .withOverflow(overflow);

  &-vertical {
    .withOverflow(overflow-y);
  }

  &-horizontal {
    .withOverflow(overflow-x);
  }
}
// Overflow }}}
