// {{{ Colors
// Base colors
@color--grey-cc: #CCC;

// Functional colors
@color--separator: @color--grey-cc;
// }}} Colors


// {{{ layoutUnit
@layoutUnit-xxs: 2px;
@layoutUnit-xs: 4px;
@layoutUnit-sm: 8px;
@layoutUnit-md: 16px;
@layoutUnit-lg: 24px;
@layoutUnit-xl: 32px;
// }}} layoutUnit


// {{{ Grid
@layoutGrid-columns: 12;
// }}} Grid
