.guide {
  // {{{ colors
  @gray-cc: #ccc;
  @gray-ee: #eee;
  @blue: #09f;
  @green: #0d6;
  @yellow: #ee0;
  @orange: #f90;
  @red: #f30;
  @brown: #c60;

  &--gray-cc {
    background-color: @gray-cc;
  }
  &--gray-ee {
    background-color: @gray-ee;
  }
  &--blue {
    background-color: @blue;
  }
  &--green {
    background-color: @green;
  }
  &--yellow {
    background-color: @yellow;
  }
  &--orange {
    background-color: @orange;
  }
  &--red {
    background-color: @red;
  }
  &--brown {
    background-color: @brown;
  }
// }}} colors

  &--zebra-children {
    > * {
      background-color: rgba(255, 255, 255, .2);
    }
    > *:nth-child(2n+1) {
      background-color: rgba(255, 255, 255, .4);
    }
  }
}
